[user]
	name = andreffs18
	email = andreffs18@gmail.com
[push]
	default = simple
[core]
	excludesfile = /Users/andresilva/.gitignore_global
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[alias]
	d = difftool
#[difftool "sourcetree"]
#	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
