#!/usr/bin/env bash

# Easier navigation: .., ..., .... and ~
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~" # `cd` is probably faster to type though

# List directories
alias l="ls -lF ${colorflag}"                              # List all files colorized in long format
alias la="ls -lAF ${colorflag}"                            # List all files colorized in long format, excluding . and ..
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"  # List only directories
alias ls="command ls ${colorflag}"                         # Always use color output for `ls`
alias lls="ls -lhFAG"

# Directory shortcut
alias desktop="cd ~/Desktop/"
alias documents="cd ~/Documents/"
alias projects="cd ~/MEGA/projects/"
alias work="cd ~/work/"

# IP addresses
alias publicip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
# Show disk space
alias space="sudo du -hd 1 $1"
# Reload every dotfile
alias resource='echo "Re-loading ~/.zshrc"; source ~/.zshrc; log.success "Re-loaded 👍!";'
# Lock the screen (when going AFK)
# Outdated: alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
# Source: https://apple.stackexchange.com/questions/406616/replacement-for-cgsession-suspend
alias afk="pmset sleepnow"
# Recursively delete `.DS_Store` files
alias delds="find . -type f -name '*.DS_Store' -ls -delete"
# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
# Make horizontal line with = sigh all across screen width
alias hr='printf $(printf "\e[1m%%%ds\e[0m\n" $(tput cols)) | tr " " ='

# Application shortcuts
alias md='open $1 -a MacDown'
alias vs='open $1 -a Visual\ Studio\ Code'
alias st2='open $1 -a Sublime\ Text'

# Custom git shortcuts
alias g="git"
alias gitrmerged='git branch --merged | grep -v "\*" | grep -v release | grep -v master | xargs -n 1 git branch -d'
alias git-authors='git log --pretty=format:"%an <%ae>" "." | sort | uniq -c | sort -nr'
alias git-branch-name='echo "$(git rev-parse --abbrev-ref HEAD)" | tr -d "\n" | tr -d " "'
alias git-lastest-tag='git fetch --all --tags --quiet && git describe --tags "$(git rev-list --tags --max-count=1)"'
alias git-delete-dangling-commits='git reflog expire --expire-unreachable=now --all && git gc --prune=now'
alias git-churn="~/.dotfiles/bin/git-churn"

# Python shortcuts
alias py="python manage.py runserver"
alias shell="python manage.py shell"         # start python shell session
alias delpyc="find . -name '*.pyc' -delete"  # delete all .pyc files

# Kubernetes shortcuts
alias abracadabra='jq -r ".data |= (. |map_values(@base64d))"'

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# [Unbabel] Login into ECR
alias ecrlogin='aws ecr get-login-password --region us-east-1 | docker login -u AWS --password-stdin 506714715093.dkr.ecr.us-east-1.amazonaws.com'

log.success ".aliases loaded with success!"
