#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Enable Colors
export CLICOLOR=1

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Configuration for all Executable Paths
export PATH="$PATH:/usr/local/bin"
# Mysql path
export PATH="$PATH:/usr/local/mysql/bin"
export PATH="$PATH:/usr/local/mysql/support-files/bin"
# Mongo path
export PATH="$PATH:/usr/local/opt/mongodb32/bin/"
# PHP path
export PATH="$PATH:/usr/local/php5/bin"
# OpenSSL 1.0.2 path
export PATH="$PATH:/usr/local/opt/openssl/bin"
# RVM path (for scripting)
export PATH="$PATH:$HOME/.rvm/bin"
# Kube authenticator path
export PATH="$PATH:$HOME/bin"
# Add ruby to $PATH
export PATH="$PATH:$(ruby -e 'puts Gem.user_dir')/bin"

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Postgres default Host configuration
export PGHOST=localhost

log.success ".exports loaded with success!"