#!/usr/bin/env bash

# Remove all runnning processes for given name
# eg: $ killps chrome
function killps(){
    ps -ef | grep $1 | grep -v grep | awk '{print $2}' | xargs kill -9;
}


# Find given string on given folder
# eg: $ findstr "documents.txt" .
function findstr(){
    find $1 \( -name node_modules -prune \) -o -name "*.py" -exec grep --color -Hn "$2" {} 2>/dev/null \;
}


# Select random emoji and display it as "Hello" screen.
function olhaaqui(){
  FOLDER=~/.emoji
  # Create folder if doesnt exist
  mkdir -p $FOLDER
  EMOJIES=(💩 🚀 ❗️ 😭 🎉 🎁 😘 👋 💎 🤖 🐇 🇵🇹)
  # Get random emoji from list
  INDEX=$(expr $RANDOM % ${#EMOJIES[@]}) # get index between [0, len(emojies)]
  INDEX=$(($INDEX>0 ? $INDEX : 1)) # max(index, 1)
  EMOJI=${EMOJIES[$INDEX]}

  # Check if emoji was previously used. If so use that, otherwise, download it.
  pushd ~/ &>/dev/null
  if [ ! -f "$FOLDER/$EMOJI.txt" ] ; then
    echo "Downloading \"$EMOJI\"..."
    # Download image using Emoji API
    wget --quiet "https://xn--i-7iq.ws/emoji-image/$EMOJI.png?format\=emojione\&ar\=1x1" -O $FOLDER/$EMOJI.png
    # Convert image from .png to .jpg
    convert $FOLDER/$EMOJI.png $FOLDER/$EMOJI.jpg
    # Convert image to ascii art
    jp2a --size=96x46 $FOLDER/$EMOJI.jpg --output=$FOLDER/$EMOJI.txt
    # Replace all border "M" characters with empty space
    sed -i.bak "s/M/ /g" $FOLDER/$EMOJI.txt
    # Delete temp files
    rm $FOLDER/$EMOJI.png $FOLDER/$EMOJI.jpg $FOLDER/$EMOJI.txt.bak
  fi
  popd &>/dev/null || true

  # Print image
  cat $FOLDER/$EMOJI.txt | lolcat
}

# Shortcut to get a random article from my Feedly account from the "Saved for Later" tag
# eg: $ sfl 10
function sfl(){
	python3 $HOME/.dotfiles/bin/feedly_read_later.py $@
}

# Utility to update FEEDLY_TOKEN and push it to keybase
# eg: $ update_feedly_token $FEEDLY_TOKEN
function update_feedly_token(){
  read -r -d '' FEEDLY << EOM
\n# Feedly TOKEN. Only valid for 30 days since creation
export FEEDLY_TOKEN=$1
EOM
  # Write new token into local .secrets and save them in keybase copy
  echo $FEEDLY | keybase fs write --append keybase://private/andreffs18/.secrets
  echo $FEEDLY >> ~/.secrets
  echo "✅ Updated Feedly Token with sucess! Open new tab to reload configuration."
}

# Function to decode jwt tokens. Works like this:
# $ jwtd eyJh....
# Source: https://gist.github.com/thomasdarimont/46358bc8167fce059d83a1ebdb92b0e7
function jwtd(){
  jq -R 'split(".") | .[1] | @base64d | fromjson' <<< "$1"
}

# Function to generate passwords with given length:
# $ pwdgen 22
function pwdgen(){
  perl -pe 'binmode(STDIN, ":bytes"); tr/A-Za-z0-9_\!\@\#\$\%\^\&\*\(\)-+=//dc;' < /dev/urandom | head -c $1
}

# Update local version of my dotfiles by pulling them from github and sources /apps folder
function update_dotfiles(){
  pushd ~/.dotfiles
  ggpull || exit 1
  source ~/.dotfiles/install/apps
  popd
  echo "✅ Updated ~/.dotfiles!"
}

log.success ".functions loaded with success!"
