#!/usr/bin/env bash

# Remove all runnning processes for given name
# eg: $ killps chrome
function killps(){ 
    ps -ef | grep $1 | grep -v grep | awk '{print $2}' | xargs kill -9; 
}


# Find given string on given folder
# eg: $ findstr "documents.txt" .
function findstr(){
    find $1 \( -name node_modules -prune \) -o -name "*.py" -exec grep --color -Hn "$2" {} 2>/dev/null \;
}


# Shortcut to commit and push changes to current branch
# eg: $ gitcp "This is a commit message"
function gitcp(){
	current_branch=$(git symbolic-ref HEAD --short)
	echo "Commit Message: \"$1\"";
	echo "origin->$current_branch";
	git commit -am "$1";
	git push origin $current_branch;
	echo "Success!";
}


# WIP: Focus function that does the following:
# - Turn on "No Disturb Mode" on mac
# - Open Pomodor app with 25 minute
# - Setup alarm for 5 minute break
# - Start spotify "focus" playlist
# function focus(){}

log.success ".functions loaded with success!"